---
import ThemedImage from "./ThemedImage.astro";

import grafanaLogo from "../assets/grafana.svg";
import terminalLogo from "../assets/terminal.svg";
import cliMovie from "../assets/cli-deploy.mp4";
import dashboardMovie from "../assets/grafana-dashboard.mp4";
import telemetryFlow from '../assets/diagrams/Telemetry-Flow.svg';
import pipelineIcon from '../assets/pipeline-icon.png';

import awsIcon from '../assets/icons/AWS.svg';
import grafanaIcon from "../assets/icons/Grafana.svg";
import typescriptIcon from "../assets/icons/TypeScript.svg";
import alloyIcon from '../assets/icons/Alloy.svg';
import promIcon from '../assets/icons/Prometheus.svg';
import tempoIcon from '../assets/icons/Tempo.svg';
import pyroIcon from '../assets/icons/Pyroscope.svg';
import nginxIcon from '../assets/icons/Nginx.svg';
import dockerIcon from '../assets/icons/Docker.svg';
import "../styles/styles.css";
import Team from "./Team.astro";

const icons = [
  {
    name: 'Grafana',
    src: grafanaIcon,
    site: 'https://grafana.com/oss/',
  },
  {
    name: 'AWS',
    src: awsIcon,
    site: 'https://aws.amazon.com/',
  },
  {
    name: 'TypeScript',
    src: typescriptIcon,
    site: 'https://www.typescriptlang.org/',
  },
  {
    name: 'Grafana Alloy',
    src: alloyIcon,
    site: 'https://grafana.com/oss/alloy-opentelemetry-collector/',
  },
  {
    name: 'Prometheus',
    src: promIcon,
    site: 'https://prometheus.io/',
  },
  {
    name: 'Grafana Tempo',
    src: tempoIcon,
    site: 'https://grafana.com/oss/tempo/',
  },
  {
    name: 'NGINX',
    src: nginxIcon,
    site: 'https://nginx.org/',
  },
  {
    name: 'Grafana Pyroscope',
    src: pyroIcon,
    site: 'https://grafana.com/oss/pyroscope/',
  },
  {
    name: 'Docker',
    src: dockerIcon,
    site: 'https://www.docker.com/',
  },
];
---
<main>
  <section class="horizontal">
    <div class="feature-row">
      <div class="card">
        <img src={pipelineIcon.src} />
        <h3>Fully Provisioned Telemetry Pipeline</h3>
      </div>
      <div class="card">
        <img src={grafanaLogo.src} />
        <h3>Feature-rich Visualization Powered by Grafana</h3>
      </div>
      <div class="card">
        <img src={terminalLogo.src} />
        <h3>Automated AWS Deployment using a simple CLI</h3>
      </div>
    </div>
  </section>

  <section>
    <div>
      <h2>No telemetry-hookup required</h2>
      <h3>Vispyr deploys a <em>fully-provisioned backend</em>, handling all the telemetry configurations and allowing you to focus on what matters.</h3>
    </div>
    <ThemedImage src="Telemetry-Flow.svg" alt="Telemetry Flow" />
  </section>

  <section>
    <div class="demonstration-content">
      <video class="demonstration" src={dashboardMovie} autoplay loop muted playsinline />
      <div class="demo-description">
        <h2>Discover the <em>exact line of code</em> impacting your app's performance</h2>
        <h3>Vispyr combines metrics and traces with <strong>continuous profiling</strong>, taking the bug out of debugging.</h3>
      </div>
    </div>
  </section>

  <section>
    <div class="demonstration-content">
      <div class="demo-description">
        <h2>Overwhelmed by AWS deployment?<br><strong>We've got your back</strong></h2>
        <h3>The Vispyr CLI provisions the entire Vispyr Backend, removing all the guess-work from provisioning your own cloud environment.</h3>
      </div>
      <video class="demonstration" src={cliMovie} autoplay loop muted playsinline />
    </div>
  </section>

  <section class="technologies">
    <h2>Technologies</h2>
    <div class="mini-card-row">
      {icons.map(({ name, src, site }) => (
        <div class="card-name-pair">
          <div class="mini-card">
            <a href={site} target="_blank">
              <img src={src.src} />
            </a>
          </div>
          <h3>{name}</h3>
        </div>
      ))}
    </div>
  </section>
</main>
